.banner__depoimento-subtitulo{
    color: var(--cor-vinho);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.banner__depoimento-titulo{
    color: var(--fonte-preto);
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    margin: 1em 0;
}

.banner__depoimento-nome{
    color: var(--fonte-preto);
    margin: 1em 0;
}

.banner__depoimento-cargo{
    color: var(--fonte-cinza-claro);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.banner__depoimento{
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
    margin: 6em;
    padding-top: 5em;
    padding-bottom: 4em;
}